.collab{
  @media (max-width: 768px) {
    
  }



    .collab1{
        margin-top: 6vw;
        @media (max-width: 768px) {
          margin-top: 11vw;
    
        }
      
    }
   .head{
    margin-left: 35.5vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    color: white;
    @media (max-width: 768px) {
      font-size: 2.5vw;
      display: flex;
      justify-content: center;
      margin-left: 0;
      margin-right: 5vw;
    
    }

    
   }
   .head1{
    margin-left: 22vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    color: white;
    margin-top: 2vw;
    @media (max-width: 768px) {
      font-size: 1.6vw;
      
      
      width: 70%;
      
      text-align: center;
      margin-left: 13vw;
      margin-top: 4vw;

    
    }

   }

   .button6 {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    padding: 0.7vw 2.5rem;
 
    border: 0.15vw solid white;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 2.5vw;
    margin-left: 41vw;
    display: flex;
    flex-direction: row;
   justify-content: center;
    gap: 1vw;
    @media (max-width: 767px) {
      white-space: nowrap;
  
      padding-top: 2vw;
      padding-bottom: 2vw;
      padding-right: 1em;
      padding-left: 1em;
      color: white;
      margin-top: 6vw;
      font-size: 2vw;
      width: 40vw;
      margin-left: 28vw;
  
      border: 0.15vw solid white;
    }
    
    
    
    &:hover {
      background: black;
      background-clip: text;
    -webkit-background-clip: text;
      color: transparent;
      border: 0.15vw solid black;
      transition: all 400ms cubic-bezier(0.1, -0.6, 0.2, 0);
    }


  }

.dr{
  height: 1vw;
  width: 1vw;
}


}