.collab{


    .collab1{
        margin-top: 6vw;
    }
   .head{
    margin-left: 35.5vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    color: white;
    
   }
   .head1{
    margin-left: 22vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    color: white;
    margin-top: 2vw;

   }

   .button6 {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
    padding: 0.7vw 4em;
 
    border: 0.15vw solid white;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 2.5vw;
    margin-left: 36vw;
    display: flex;
    flex-direction: row;
   justify-content: center;
    gap: 1vw;
    
    
    
    &:hover {
      background: black;
      background-clip: text;
    -webkit-background-clip: text;
      color: transparent;
      border: 0.15vw solid black;
      transition: all 400ms cubic-bezier(0.1, -0.6, 0.2, 0);
    }
  }




}