@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.cont1{

    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 0.07rem;
    gap: 5vw;
    padding-bottom: 5rem;
    border-color: rgb(196, 195, 195);

    margin-top: 8vw;
    width: 60vw;

    margin-left: 20vw;
    box-shadow: 0.3px 0.3px 3px 1px #fff;
    .photu1{
        height: 30vw;
        width: 100vw;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        
    }
    .cont2{


        height: 15vw;
        width: 20vw;
        margin-left: 7vw;
        text-align: right;
        
        position: absolute;
        margin-top: 1vw;

        .spandita{
            font-family: 'Sacramento', cursive;
            color: white;
            font-weight: 100;
            font-size: 3.5vw;
            margin-top: 2vw;

        }

        .spandita1{
            font-family: 'Montserrat', sans-serif;
            color: white;
           font-weight: lighter;
           
        line-height: 1.5vw;
           font-size: 0.9vw;
        }

        



    }


    .cont3{

       
        .photu{
        height: 20vw;
        width: 17vw;
        margin-left: 34vw;
        margin-top: 5.2vw;
       

    }
    }
}