.cards {
    display: flex;
    flex-direction: row;

    margin-top: 8vw;
    position: relative;
    margin-left: 10vw;
    
  margin-right: 14vw;
  margin-bottom: 0;



    .back {
        width: 100vw;
        height: 30vw;
    }


    .card1 {
        position: absolute;
        text-align: center;
        padding-left: 2vw;
        padding-top: 2vw;
        font-family: 'Montserrat', sans-serif;
       font-size: 1vw;


    }

    .list {
        text-align: left;
        margin-left: 16vw;
    }


    .design {
        height: 30vw;
        width: 30vw;
        margin-right: 20vw;
    }
}


.cardss {
    display: flex;
    flex-direction: row-reverse;

    margin-right: 14vw;
    position: relative;
margin-top: 5vw;



    .backs {
        width: 90vw;
        height: 30vw;
    }

    .card1s {
        position: absolute;
        text-align: center;
        padding-right: 2.5vw;
        padding-top: 2vw;

        font-family: 'Montserrat', sans-serif;
        font-size: 1vw;

    }

    .prog {
        height: 30vw;
        width: 30vw;
        margin-left: 10vw;
    }

    .list{
        text-align: left;
        margin-left: 16vw;
    }
}