.img{
   
height: 15vw;
width: 15vw;
margin-top: 8vw;
margin-left: 5vw;

}



.box{
    height: 15vw;
    width: 45vw;
    margin-top: 5vw;
   
    


    .head{
        font-size: 2.6vw;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: white;
        
    }

    .head1{
        padding-left: 2vw;
        padding-right: 2vw;
        justify-content: center;
        text-align: justify;
        font-size: 1vw;
        font-family: 'nunito', sans-serif;
        color: #fff;
        line-height: 1.5vw;
    }
}
.container{
    display: flex;
    flex-flow: row;
    margin-left: 17vw;
    
}

.main{
    background-color: #4e4941;
}
.iconnav{
display: flex;
    flex-direction: row;
    // justify-content: center;
    // align-items: center;
    font-size: 2vw;
    font-family: 'nunito', sans-serif;
    margin-left: 26.2vw;
    // margin-top: 0.01vw;
    color: #fff;

    .list{
    
        display:flex;
        flex-direction: row;
        gap: 4vw;
        .icon{
            
            font-size: 1vw;
            align-content: centre;
        justify-content: baseline;
        justify-items: center;
        align-items: center;
            
        
        
        }
    }
}
